/* Another section */
.topTrending {
	padding: 8px;
}

.link {
	color: var(--secondary);
}

.scroll {
	max-height: 100vh;
	overflow: auto;
}

.scroll::-webkit-scrollbar {
	width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: var(--highlight);
	border-radius: 5px;
}

.scroll:hover::-webkit-scrollbar {
	width: 10px;
}

.date {
	font-size: 0.8rem;
	color: var(--highlight);
	font-weight: normal;
}

.topTrending > h2 {
	margin-top: 20px;
	border-bottom: 1px solid var(--secondary);
	color: var(--secondary);
	padding-bottom: 10px;
}

.trendingPosts {
	display: flex;
	gap: 20px;
	padding: 10px 0;
	border-bottom: 2px dotted var(--secondary);
	margin-top: 10px;
}

.trendingPosts h2 {
	font-size: 1rem;
}

.thumb {
	color: black;
	min-width: 70px;
	max-width: 70px;
	height: 70px;
	outline: auto;
	object-fit: cover;
}

.wrapTp {
	margin: auto 0;
	margin-bottom: 5px;
	gap: 0;
}

.postAndDate {
	margin: auto 0;
}
