/* Another section */
.topTrending {
	padding: 0 3%;
}

.topTrending > h2 {
	margin-top: 20px;
	border-bottom: 1px solid var(--secondary);
	color: var(--secondary);
	padding-bottom: 10px;
}

.trendingPosts {
	display: grid;
	gap: 10px;
	padding: 10px 0;
	grid-template-columns: 1fr 4fr;
	border-bottom: 2px dotted var(--secondary);
	margin-top: 10px;
}

.trendingPosts h2 {
	font-size: 1rem;
}

.trendingPosts .thumb {
	width: 70px;
	height: 70px;

	margin: 0;
	object-fit: cover;
}

.trendingPosts .wrapTp {
	margin: auto 0;
	margin-bottom: 5px;
	gap: 0;
}

.postAndDate {
	margin: auto 0;
}
