.readMore {
	width: 120px;
	padding: 3px 10px;
	font-size: 1rem;
	background: none;
	font-weight: 600;
	color: var(--highlight);
	text-align: left;
	border: 1px solid var(--highlight);
	position: relative;
	cursor: pointer;
}

.readMore a:visited,
.readMore a {
	color: var(--highlight);
}

.readMore:hover {
	border: 1px solid var(--secondary);
	color: var(--secondary);
}
