.sectionHeader {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 10px;
	color: var(--secondary);
}

.sectioDescription {
	border-left: 2px solid var(--accent);
	color: var(--highlight);
	font-size: 0.8rem;
	font-weight: normal;
	padding-left: 10px;
}

.max {
	max-width: 900px;
	margin: 0 auto;
}

.margin {
	margin: 20px 0;
}
@media screen and (min-width: 770px) {
	.max {
		max-width: 800px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1024px) {
	.max {
		max-width: 1040px;
		margin: 0 auto;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 10px;
	}

	.left {
		grid-column: 1/9;
	}

	.sidebar {
		grid-column: 9/-1;
	}

	.stick {
		position: sticky;
		top: 0;
	}
}
