.footer {
	display: flex;
	flex-flow: column;
	min-height: 150px;
	padding: 0 3%;
	margin-top: 40px;
	color: var(--secondary);
}
.mail,
.phoneNum {
	display: flex;
	gap: 10px;
	margin: 0 auto;
}

figcaption {
	margin: auto;
}

.at,
.phone {
	margin: auto;
}

.contact {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px));
	width: 100%;
	min-height: 30px;
}

.logo {
	margin: auto;
	fill: var(--secondary);
}

.socials {
	display: flex;
	height: 30px;
	/* outline: auto; */
}

.socialWrap {
	display: flex;
	justify-content: space-around;
	width: 120px;
	margin: auto;
}

.facebook {
	cursor: pointer;
}

.twitter {
	cursor: pointer;
}

.globe {
	cursor: pointer;
}

@media screen and (min-width: 700px) {
	.footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.footer * {
		margin: auto;
	}

	.contact {
		flex-flow: column;
		gap: 15px;
	}
}
